body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #777777;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#display {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.btn:nth-child(19){
    grid-column: span 2;
}

.btn:hover {
    background-color: #e0e0e0;
}